body{
    margin: 0;
    font-size: 1.125rem;
    color: #acacac;
    font-family: 'Playfair Display', serif;
    background-color: white!important;
}

img{
    width: 100%;
    height: 100%;
}

/* *** TYPHOGRAPHY *** */
h1,
h2,
h3{
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 2rem;
    margin-bottom: 0;
}

.navbar-brand{
    color: white!important;
    font-weight: 700;
    font-size: 1.3rem!important;
}

span{
    color: rgb(255, 136, 0);
}

.subtitle{
    font-weight: 700;
    color: rgb(255, 136, 0);
    font-size: .75rem;
    margin-top: 0;
}

.carousel-caption{
    position: absolute;
    left: 0;
    top: 32%;
    bottom: 0!important;
    margin-left: 0;
    text-align: left!important;
}

.carousel-caption h1{
    font-size: 1.125rem;
}

.carousel-caption p{
    font-size: .50rem;
}

.carousel-caption a{
    color: white;
}

.btn{
    padding: .50rem .25rem!important;
    font-weight: 200!important;
    font-size: .65rem!important;
    text-transform: uppercase;
}

@media(min-width:450px){
    .carousel-caption{
        top: 25%;
    }
    .carousel-caption h1{
        font-size: 1.6rem;        
    }
    .carousel-caption p{
        font-size: .57rem;
    }
}

@media(min-width:770px){
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h1{
        font-size: 2rem;
    }
    .carousel-caption p{
        font-size: .95rem;
    }
    .w-100{
        width: 100vh;
        height: 50vh;
    }
}

@media(min-width:900px){
    .carousel-caption{
        top: 30%;
    }
    .carousel-caption h1{
        font-size: 3rem;
    }
    .carousel-caption p{
        font-size: 1.2rem;
    }
    .btn{
        padding: .240rem .75rem!important;
        font-weight: 200!important;
        font-size: 1.3rem!important;
    }
}


/* *** LAYOUT *** */

header{
    text-align: center;
}

footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.925)), url(../static/image/section_bg03.png)!important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.navbar-light{
    background: transparent!important;
}

.navbar-light.scrolled{
    background-color: rgba(0, 0, 0, 0.616)!important;
    transition: background-color 200ms linear;
}

.container{
    width: 90%;
    max-width: 900;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-text{
    padding-top: 1em;
    margin: 0;
    color: white;
}

.carousel-image{
    height: auto;
}

.btn-outline-success{
    color: white!important;
    background-image: none!important;
    background-color: transparent!important;
    border-color: whitesmoke!important;
    border-radius: 30px!important;
    text-decoration: none!important;
}

.btn-outline-success:hover,
.btn-outline-success:focus{
    background: #a74628!important;
    border-color: #a74628!important;
}

.col-md-4{
    padding: 0!important;
}


@media only screen and (min-width:500px) {
    .flex{
        flex-direction: row;
    }
    .w-100{
        height: 100vh;
    }
    .navbar-light.scrolled{
        max-width: 100%;
    }
}

/* *** NAVIGATION *** */
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{
    margin-left: 2em;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus{
    color: #1792d2;
}

/* .navbar-nav.ml-auto{
    background: rgba(0,0,0,0.5);
} */

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: white!important;
}

.navbar{
    padding: 0 1em!important;
}

@media only screen and (max-width: 900px) {
    nav ul{
        flex-direction: column;
        margin-top: 0;
        line-height: 0.3;
    }
    nav li{
        margin: .5em 0;
    }
    .navbar-toggler{
        text-align: center;
    }
    .flex{
        flex-direction: row;
    }
    .navbar-nav.ml-auto {
        background: rgba(0,0,0,0.5);
    }
    .navbar-brand{
        color: white!important;
        font-weight: 700;
        font-size: 1!important;
    }
    .w-100{
        height: 50vh;
    }
    .navbar-toggler{
        padding: 1px 5px!important;
        font-size: 18px!important;
        background: #fff!important;
    }
}

.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


/* SECTION */

.section1-text{
    background: white;
    margin-bottom: .75em;
}

.text-text{
    padding: 1em;
}

.section1 h1{
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    color: rgb(161, 46, 0);
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 1.6em;
}

.section1 h3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Playfair Display', serif;
}

.section1 p{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: .95rem;
    color: #707070;
}

.section1 .link{
    color: black;
    padding-bottom: 1em;
    display: block;
    text-align: center;
    font-size: .85rem;
    font-weight: 700;
    font-family: 'Source Code Pro', monospace;
}

.section1 .link:hover,
.section1 .link:focus{
    color: black;
}

@media only screen and (min-width:577px){
    .section1-text{
        color: blue;
        left: 3em;
    }
}

@media (min-width:770px){
    .section1-text{
        margin: 0;
        color: purple;
        left: 0;
    }
    .section1 h1{
        padding-top: 2em;
        font-size: 2.5rem;
        text-shadow: none;
    }
    .subtext{
        font-family: 'Oxygen', sans-serif;
        font-size: 2rem;
        color: #707070;
        padding-bottom: 1em;
    }
    .text-text{
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .mb-5{
        margin-bottom: 0!important;
    }
    .p-3 {
        padding: 0!important;
    }
}


/* *** MENU *** */

.menu h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: rgb(161, 46, 0);
    margin-top: 1em;
    margin-bottom: 0;
}

.menu .sub{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    margin-top: 0;
    padding-top: 0;
}

.menu-image{
    width: 30%;
    max-width: 100px;
    max-height: 70px;
    object-fit: cover;
    border-radius: 40%;
}

.tab-content{
    flex-direction: column;
    padding-top: .75em;
}

.menu-item{
    padding-top: 1.3em;
    border-bottom: 1px dotted #707070;
    flex-direction: column;
}

.menu-item:last-child{
    border: 0;
}

.menu-price{
    padding-bottom: .75em;
}

.menu-text{
    padding-top: .75em;
}

.menu-text h3{
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.menu-text p{
    padding: 0;
    margin: 0;
    color: #707070;
}

.wrapper .menu-tab ul{
    list-style: none;
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #a74628;
    font-size: .45rem;
    font-weight: 600;
    font-family: 'Noto Serif', serif;
}

.wrapper .menu-tab ul li{
    font-size: 1rem;
    border-bottom: 2px solid rgb(161, 46, 0);
    margin-bottom: -5px;
}

.wrapper .menu-tab-content .tab-content{
    font-size: 14px;
    line-height: 22px;
}

.wrapper .menu-tab ul li.active{
    background-color: #a74628;
    border-bottom: 2px solid white;
    margin-bottom: -5px;
    color: white;
    padding-left: .50em;
    padding-right: .50em;
}

@media only screen and (min-width:500px){
    .wrapper .menu-tab ul li{
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (min-width:770px){
    .menu h1{
        margin-top: 3em;
    }
    .menu-item{
        flex-direction: row;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1em;
        padding-bottom: 2em;
    }
    .menu-image{
        width: 100%;
        max-height: 100px;
        object-fit: cover;
        border-radius: 40%;
    }
    .image1{
        width: 25%;
    }
    .menu-text{
        width: 50%;
    }
    .menu-price{
        width: 10%;
    }
    .tab-content{
        padding-bottom: 3em;
        margin-top: 3em;
    }
    .wrapper .menu-tab ul{
        margin-left: 23%;
        margin-right: 25%;
        margin-top: 5em;
    }
    .wrapper .menu-tab ul li{
        font-size: 1.5rem;
        margin-left: .75em;
    }
    
}

/* RESERVE TABLE SECTION */
.table{
    background-image: url(../static/image/section_bg04.png)!important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3em;
    height: 100vh;
    box-shadow: 0px 2px 8px #7a7e75;
}

.table h1{
    padding-top: .50em;
    padding-bottom: .30em;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 136, 0);
}

.table1{
    background: white;
    border-radius: 10px;   
}

.table-form{
    padding: .50em;
    max-height: 100vh;
}

.table-form label{
    margin-bottom: .45em;
    margin-top: .45em;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
    color: #707070;
}

.table-form .btn{
    background: #ff5600;
    border-color: #ff5600;
    margin-top: 1em;
    font-weight: 700!important;
    font-size: .75rem!important;
}

.table-form .btn:hover,
.table-form .btn:focus{
    background: #ca6d51;
    border-color: #ca6d51;
}

.form-group{
    margin-bottom: 0!important;
    margin-top: 0;
}

.form-control{
    height: 30px!important;
}

.form-control:hover,
.form-control:focus{
    border: 2px solid #ff7a5c;
}

@media only screen and (min-width:770px){
    .table h1{
        padding-top: 2em;
        padding-bottom: 1em;
        color: black;
    }
    .table1{
        background: white;
        border-radius: 10px; 
        margin-left: -1.3em;
        margin-right: -1.3em;  
    }
    .form-group{
        width: 50%;
        float: left;
        padding: 10px;
    }
    .table-form .btn{
        font-size: 1rem!important;
    }
    .centerbtn{
        text-align: center;
    }
}

/* *** OTHER SERVICES *** */
.other-services{
    text-align: center;
}

.other-services-images{
    width: 30%;
    max-height: 32%;
    padding-bottom: 1em;
    margin-top: 2em;
}

.other-services h1{
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #a74628;
}

.other-services h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.other-services p{
    font-family: 'Oxygen', sans-serif;
    color: #707070;
    padding: .75em;
    padding-top: 0;
}

.other-services-bg{
    background: white;
    margin-bottom: .75em;
    
}

.other-services-bg:hover,
.other-services-bg:focus{
    box-shadow: 1px 0px 8px #cecfcc;
}

.other{
    flex-direction: column;
}

@media only screen and (min-width:770px){
    .other{
        flex-direction: row;
    }
    .other-services-bg{
        margin: .35em;
    }
}


/* *** RECENT BLOG POST *** */
.blog-area h1{
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    color: #a74628;

}

.blog-area .single-blog .blog-text{
    padding: 20px 10px 10px 21px;
    background: #f7f9f8;
    position: relative;
    bottom: 63px;
    float: right;
    width: 94%;
    border-radius: 10px;
}

.blog-text .date{
    color: #828fa3;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: .25rem!important;
}

.blog-text .subtext{
    font-weight: 700;
    color: #212025;
    font-family: 'Playfair Display', serif;
    /* font-style: normal; */
}

.blog-area .single-blog .blog-text:hover,
.blog-area .single-blog .blog-text:focus{
    background: #ff5600;
}

.blog-area .single-blog .blog-text:hover .date,
.blog-area .single-blog .blog-text:focus .date{
    color: white;
}

.blog-area .single-blog .blog-text:hover .subtext,
.blog-area .single-blog .blog-text:focus .subtext{
    color: white;
}

.blog{
    flex-direction: column;
}

.blog-image{
    height: 100vh;
}

@media only screen and (min-width:770px){
    .blog{
        flex-direction: row;
    }
    .blog-image{
        max-height: 80vh;
    }
    .blog-text .date{
        font-size: 1rem;
    }
    
    .blog-text .subtext{
        font-size: 1rem;
    }
    .single-blog{
        margin: .55em;
        margin-bottom: 6em;
    }
}


/* *** FOOTER *** */
.footer{
    flex-direction: column;
    text-align: left;
    color: white;
    margin-top: 2.5em;
    margin-bottom: 3.5em;
}

.footer h3{
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    padding-bottom: .45em;
}

.footer .footer-sub{
    padding-top: .50em;
    padding-bottom: .50em;
}

.footer .footer-sub button{
    border-radius: 5px;
    background: transparent;
    border: 2px solid #ff5600;
    padding: .25em;
    color: #ff5600;
    text-transform: uppercase;
    font-size: .85rem;
    margin-bottom: .50em;
}

.footer .footer-sub button:hover,
.footer .footer-sub button:focus{
    background: #ff5600;
    color: white;
}

.footer .footer-sub .footer-sub-sub{
    padding-top: .35em;
    padding-bottom: .35em;
}

.footer .footer-sub ul{
    list-style: none;
    padding: 0;
}

.footer .footer-sub ul li{
    display: inline;
    padding: .50em;
    font-size: 1.2rem;
}

.footer .footer-sub ul li:hover,
.footer .footer-sub ul li:focus{
    color: #ff5600;
}

.footer .rita{
    font-size: .75em;
    padding: 0;
    margin: 0;
    color: white;
}

@media only screen and (min-width:770px){
    footer{
        height: 100vh;
    }
    .footer{
        flex-direction: row;
        margin-top: 10.5em;
        margin-bottom: 11.5em;
    }
    .sub-1{
        width: 35%;
    }
    .sub-2{
        width: 35%;
    }
    .sub-3{
        width: 20%;
    }
    .footer h3{
        font-weight: 700;
        font-size: 1.5rem;
        font-family: 'Noto Serif', serif;
        padding-bottom: .45em;
    }
    
    .footer p{
        font-size: 1rem;
        color: #7a7e75;
    }
    .footer .footer-sub ul li{
        font-size: 1.5rem;
    }
}


/* *** MENU TEMPLATE *** */

.menu-title-text{
    font-size: 2rem!important;
    margin-top: 7%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

.menu-icon{
    font-size: 2rem!important;
    margin-left: 48%;
    margin-top: 0;
    padding: 0;
}

@media only screen and (min-width:770px){
    .menu-title-text{
        font-size: 6rem!important;
    }
}


/* *** ABOUT TEMPLATE *** */

.about-image{
    height: 80vh;
    margin-top: 1em;
    border-radius: 20px;
}

.restaurant{
    flex-direction: column;
}

.restaurant-1{
    flex-direction: column;
}

.res{
    flex-direction: column;
}

.restaurant h1{
    font-size: 1.8rem;
    margin-top: .50em;
    margin-bottom: .45em;
    font-family: 'Playfair Display', serif;
}

.restaurant p{
    font-size: 1.2em;
    color: #7a7e75;
    font-family: 'Oxygen', sans-serif;
}

.restaurant button{
    text-decoration: none;
    margin-top: 2.5em;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #17a2b8;
    padding: .25em;
    color: #17a2b8!important;
    text-transform: uppercase;
    font-size: .85rem;
    margin-bottom: .50em;   
}

.restaurant-1 h1{
    font-size: 1.8rem;
    margin-top: 1.3em;
    margin-bottom: .45em;
    font-family: 'Playfair Display', serif;
}

.restaurant-1 p{
    font-size: 1.2em;
    color: #7a7e75;
    font-family: 'Oxygen', sans-serif;
}

.resta{
    text-align: center;
}

.resta h1{
    font-size: 1.8rem;
    margin-top: 2em;
    margin-bottom: .45em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.resta p{
    font-size: 1.2em;
    color: #7a7e75;
    font-family: 'Oxygen', sans-serif;
}

.resta-page{
    margin-top: 2em;
}

.resta-page ul{
    list-style: none;
    padding: 0;
    margin-bottom: 3em;
}

.resta-page ul li{
    display: inline;
    padding: .50em;
    font-size: 1.2rem;
}

.resta-page ul li:hover,
.resta-page ul li:focus{
    color: #ff5600;
}

.resta-page-image{
    width: 35%;
    height: 18%;
    border-radius: 50%;
    margin-bottom: 1em;
}

@media only screen and (min-width:770px){
    .restaurant{
        flex-direction: row;
        margin-top: 2em;
    }
    
    .restaurant-1{
        flex-direction: row;
    }
    
    .res{
        flex-direction: row;
    }
    .img-1{
        width: 40%;
    }
    .txt{
        width: 55%;
        margin-top: 6em;
    }
    .resta{
        margin-top: 8em;
    }
    .resta h1{
        font-size: 2.5em;
        font-family: 'Kaushan Script', cursive;
        color: #a74628;
    }
    .resta-page-image{
        width: 25%;
        height: 23%;
        border-radius: 50%;
        margin-bottom: 1em;
    }
}

/* *** CONTACT TEMPLATE *** */
.main-contact{
    flex-direction: column;
}

.contact h1{
    margin-top: 2em;
    font-size: 1.7rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 0;
}

.form-control{
    height: 43px!important;
}

.textarea{
    height: 150px!important;
    resize: horizontal;
    overflow: visible;
}

.contact-form button{
    margin-top: 1.5em;
    background: transparent;
    border: 2px solid #ff5600;
    padding: .50em;
    color: #ff5600!important;
    text-transform: uppercase;
    font-size: 1rem!important;
    margin-bottom: .50em;
}

.contact-form button:hover,
.contact-form button:focus{
    color: white!important;
    background: #ff5600;
    border: 2px solid #ff5600;
}

.fahome{
    width: 15%;
    font-size: 1rem;
}
.faho{
    width: 75%;
}

.faho h4{
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: black;
}

.faho p{
    font-size: .75rem;
    color: #7a7e75;
}

.add{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.form-f{
    flex-direction: column;
}

@media only screen and (min-width:770px){
    .main-contact{
        flex-direction: row;
    }
    .contact{
        width: 70%;
    }
    .add{
        width: 22%;
        margin-top: 7em;
    }
    .form-f{
        flex-direction: column;
    }
    .textarea{
        width: 205%!important;
    }
    .textarea1{
        width: 205%!important;
    }
    .contact-form button{
        width: 20%;
        margin-left: .45em;
        margin-bottom: 3em;
    }
    .contact h1{
        margin-top: 2em;
        font-size: 1.7rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        margin-left: .45em;
    }
}