{% extends 'layout.html' %}
{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-gradient">
            <img src="../static/image/jason-leung-poI7DelFiVA-unsplash.jpg" class="d-block w-100 carousel-image"
                alt="...">
            <div class="carousel-caption d-md-block">
                <h1 class="menu-title-text " style="font: size 3rem;">ABOUT US</h1>
                <p><i class="fa fa-arrow-down menu-icon" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="restaurant flex">
        <div class="img-1"><img src="../static/image/about2.png" class="about-image" alt=""></div>
        <div class="txt">
            <h1>We Provide Good Food For Your Family!</h1>
            <p>Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo
                consequat is aute irure m, quis nostrud exer</p>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected our, or randomised words which don't look even slightly believab If you are
                going to use a passage.</p>
            <button class="d-none d-block btn btn-outline-info"><a href="#">Check Menu</a></button>
        </div>
    </div>
</section>

<section class="container">
    <div class="restaurant-1 flex">
        <div class="txt">
            <h1>The Restaurant</h1>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
            <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="img-1">
            <img src="../static/image/louis-hansel-shotsoflouis-wVoP_Q2Bg_A-unsplash.jpg" class="about-image" alt="">
        </div>
        
    </div>
</section>

<section class="container resta">

    <h1>Meet the Chefs</h1>
    <div class=" res flex">
        <div class="resta-page">
            <img src="../static/image/PhotoGrid_1569537595421.jpg" class="resta-page-image" alt="Image">
            <h4>Daniel Graham</h4>
            <p>MASTER CHEF</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is
                a paradisematic country.</p>
            <div>
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"><a href="#"></a></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"><a href="#"></a></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"><a href="#"></a></i></li>
                </ul>
            </div>
        </div>
        <div class="resta-page">
            <img src="../static/image/PhotoGrid_1569537595421.jpg" class="resta-page-image" alt="Image">
            <h4>Rita London</h4>
            <p>JUNIOR CHEF</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is
                a paradisematic country.</p>
            <div>
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"><a href="#"></a></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"><a href="#"></a></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"><a href="#"></a></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}