{% extends 'layout.html' %}
{% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-gradient">
            <img src="../static/image/jess-bailey-q10VITrVYUM-unsplash.jpg" class="d-block w-100 carousel-image"
                alt="...">
            <div class="carousel-caption d-md-block">
                <h1 class="menu-title-text " style="font: size 3rem;">Blog Posts</h1>
                <p><i class="fa fa-arrow-down menu-icon" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</div>


<section class="container">
    <div class="blog-content flex">
        <div class="detail-content pag">
            <img src="../static/image/stephanie-hau-rLA5PFJx_8w-unsplash.jpg" class="detail-blog-image" alt="">
            <h4>Google inks pact for new 35-storey office</h4>
            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have
                to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp
                price. However, who has the willpower </p>
            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have
                to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp
                price. However, who has the willpower </p>
            
            <div class="recipe">
                <h1>Receipe</h1>
                <ul>
                    <h5>Ingredients</h5>
                    <li>one</li>
                    <li>two</li>
                    <li>three</li>
                </ul>
                <h5>Preparation:</h5>
                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
            </div>


            <div class="comments">
                <h1>Comments</h1>

                <p>.....in progress (right now i'm just sleepy)</p>

            </div>

        </div>

        <aside>
            <div class="sidebar-widget">
                <h2 class="widget-title">Most Popular Posts</h2>
                <div class="widget-recent-post flex">
                    <div class="w-img">
                        <img src="../static/image/turmeric-rice.jpg" alt="being the forth child" class="widget-image">
                    </div>
                    <div class="w-t">
                        <h3 class="widget-recent-post-title"><a href="#"> Best food with great taste </a></h3>
                        <p>12 December, 2020</p>
                    </div>
                </div>
                <div class="widget-recent-post flex">
                    <div class="w-img">
                        <img src="../static/image/97eb2eac5f40bb9a1800dc18ee1125df.jpg" alt="being the forth child"
                            class="widget-image">
                    </div>
                    <div class="w-t">
                        <h3 class="widget-recent-post-title"><a href="#"> Best food with great taste </a></h3>
                        <p>12 December, 2020</p>
                    </div>
                </div>
                <div class="widget-recent-post flex">
                    <div class="w-img">
                        <img src="../static/image/IMG_20160905_082224.jpg" alt="being the forth child"
                            class="widget-image">
                    </div>
                    <div class="w-t">
                        <h3 class="widget-recent-post-title"><a href="#"> Best food with great taste </a></h3>
                        <p>12 December, 2020</p>
                    </div>
                </div>
                <div class="widget-recent-post flex">
                    <div class="w-img">
                        <img src="../static/image/ogbono-soup.png" alt="being the forth child" class="widget-image">
                    </div>
                    <div class="w-t">
                        <h3 class="widget-recent-post-title"><a href="#"> Best food with great taste </a></h3>
                        <p>12 December, 2020</p>
                    </div>
                </div>

            </div>

        </aside>
    </div>
</section>

{% endblock content %}