{% extends 'layout.html' %}
{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-gradient">
            <img src="../static/image/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg" class="d-block w-100 carousel-image"
                alt="...">
            <div class="carousel-caption d-md-block">
                <h1 class="menu-title-text " style="font: size 3rem;">CONTACT US</h1>
                <p><i class="fa fa-arrow-down menu-icon" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</div>

<section class="container main-contact flex">
    <div class="contact">
        <h1>Get in Touch</h1>

        <div class="contact-form">
            <form class="form-f flex">
                <div class="form-group ">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control textarea" id="exampleFormControlTextarea1" placeholder="Enter Message"
                        rows="5"></textarea>
                </div>
                <div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter your Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter email address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control textarea1" id="exampleFormControlInput1" placeholder="Enter Subject">
                </div>

                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>

    <div class="add">
        <div class="flex">
            <i class="fa fa-home fahome fa-2x" style="color: #7a7e75;" aria-hidden="true"></i>
            <div class="faho">
                <h4>Port Harcourt, R.S.</h4>
                <p>Airforce Base</p>
            </div>
        </div>
        <div class="flex">
            <i class="fa fa-mobile fahome fa-3x" style="color: #7a7e75;" aria-hidden="true"></i>
            <div class="faho">
                <h4>+233 55 936 5073</h4>
                <p>Mon - Fri 9am - 6pm</p>
            </div>
        </div>
        <div class="flex">
            <i class="fa fa-envelope-o fahome fa-2x" style="color: #7a7e75;" aria-hidden="true"></i>
            <div class="faho">
                <h4>support@gmail.com</h4>
                <p>Send us your query anytime!</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}