{% extends 'layout.html' %}
{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-gradient">
            <img src="../static/image/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg" class="d-block w-100 carousel-image"
                alt="...">
            <div class="carousel-caption d-md-block">
                <h1 class="menu-title-text " style="font: size 3rem;">CONTACT US</h1>
                <p><i class="fa fa-arrow-down menu-icon" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}